# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Python
* R
* Scala
* Julia

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Seaborn
4. Matplotlib

| Data Science Tools |
|-------------------|
| Apache Spark |
| Apache Hadoop |
| R Studio with R |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python
(3*4)+5

In [10]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Arun